body {
    margin: 0;
    background-color: white;
    
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

textarea {
    height: 80vh;
    width: 80%;
    resize: none;
}

#new-title {
    width: 90%;
}

#new-content {
    height: 70vh;
    width: 90%;
}

.create-new-field {
    margin-top: 20px;
}

#btn-create {
    width: 50%;
}





/* TODO: CONVERT THIS TO SASS */